@font-face {
    font-family: "my-font";
    src: url(font/akachen.ttf)
    format("truetype");
}

* {
    font-family: 'my-font';
    margin: 0;
    padding: 0;   
}

html, body {
    width: 100vw;
    overflow-x: hidden;
}

.container-fluid {
    display: inline-flex; /* or inline-flex */
  }

.navbar {
    background-color: #1e1d24;
}

.navbar  a {
    margin-right: 1rem;
    margin-left: 1rem;
    color: ivory;
    text-decoration: none;
}
.navbar  a.active-page {
    margin-right: 1rem;
    margin-left: 1rem;
    color: rgb(207, 133, 22);
    text-decoration: none;
}

#home {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background-image: url(img/background-l.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

#home h1{
color: rgb(207, 133, 22);
font-size: 5rem;
text-align: left;
}

#home p {
    color: ivory;
    text-align: left;
    width: 70%;
}

.home-img {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.b1, .b1:hover, .b1:active{
    border: none;
    color: #1e1d24;
    background-color:rgb(207, 133, 22);
}

#about {
    background-color: #1d1c22;
    color: ivory;
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.about-img {
    padding-left: 15%;
    padding-right: 15%;
}

.about-2 {
    padding-top: 2rem;
}

.about-2 h2 {
    padding-left: 5%;
}

.about-2 p {
    padding-left: 5%;
    padding-right: 30%;
    font-size: x-large;
    text-align: left;
}

#quality {
    background-image: url(img/quality.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    /* background-size: contain; */
    color: ivory;
    /* background-repeat: no-repeat; */
    padding-bottom: 99rem;
    margin-bottom: -38rem;
}

#quality h2 {
    padding-top: 25rem;
    text-align: left;
}

#quality p {
    padding-top: 1rem;
    width: 40%;
    font-size: 1.5rem;
    line-height: 35px;
}

.quality-1 {
    margin-left: 10%;
}

#gallery {
    padding-top: 5rem;
    padding-bottom: 5rem;
    color: ivory;
    background-color: #1d1c22;
}

#gallery h2 {
    font-size: 3rem;
    text-align: center;
    padding-bottom: 6rem;
}

.gal {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.gal img {
    width: 26.67%;
    height: auto;
    margin-bottom: 5%;
}

#enjoy {
    background-image: url(img/enjoy.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    padding-top: 15rem;
    padding-bottom: 25rem;
    color: ivory;
    margin-bottom: -17rem;
}

.enj {
        text-align: center;
        width: 50%;
        padding-left: 5%;
        padding-right: 5%;
        border: 5px solid rgb(207, 133, 22);
        padding-top: 10%;
        padding-bottom: 5%;
        margin-top: -10%;
        margin-left: auto;
        margin-right: auto;
}

.enj p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 25px;
}

#menu {
    background-color: #1d1c22;
    color: ivory;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.item {
    width: 33.33%;
    padding: 5%;
}

#menu h1 {
    text-align: center;
    padding-bottom: 4rem;
}

#menu h4{
    color: rgb(207, 133, 22);
    white-space: nowrap;
    font-size: 21px;
    margin-top: 3rem;
}

#menu h5 {
    text-align: left;
    font-size: 15px;
}

#menu p {
    color: rgb(207, 133, 22);
    font-size: 20px;
}

#best {
    background-image: url(img/enjoy-2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    color: ivory;
    padding-top: 15rem;
    padding-bottom: 25rem;
    margin-bottom: -3.8rem;
}

#best h2 {
    margin-left: 60%;

}

#best p {
    margin-left: 60%;
    /* padding-left: 60%; */
    width: 30%;
    font-size: x-large;
}

#links {
    padding-bottom: 5rem;
    background-color: rgb(54, 53, 59);
}
#links img {
    display: block;
    margin: 0 auto;
    /* margin-top: -1.3rem; */
}

.links {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.links a, .links a:hover {
    text-decoration: none;
    color: ivory;
}

.links-2 {
    padding-bottom: 2rem;
    padding-top: 3rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (orientation: portrait) 
{
    html, body {
        width: 100vw;
        overflow-x: hidden;
    }
    #home h1{
        color: rgb(207, 133, 22);
        font-size: 3rem;
        text-align: left;
        padding-left: 5%;
        padding-right: 5%;
        }
    #home p {
            margin-top: 0;
            margin-bottom: 1rem;
            width: 70%;
            padding-left: 5%;
            padding-right: 5%;
        }
    .b1, .b1:hover, .b1:active{
            border: none;
            color: #1e1d24;
            background-color:rgb(207, 133, 22);
            margin-left: 5%;
        }
    .b1 {
        margin-top: 1rem;
    }
    .about-2 p {
        padding-right: 5%;
 
    }
    #quality {
    background-image: url(img/quality.png);
    /* background-size: inherit; */
    color: ivory;
    padding-bottom: 20rem;
    margin-bottom: -3rem;
    }
    .quality-1 {
        margin-left: 5%;
    }
    #quality h2 {
        font-size: 1.5rem;
        padding-top: 30%;
        text-align: left;
    }
    
    #quality p {
        padding-top: 1rem;
        width: 70%;
        font-size: 15px;
        line-height: 1.2rem;
    }

    #gallery h2 {
        width: 80%;
        font-size: 2rem;
        text-align: center;
        padding-bottom: 6rem;
        margin: auto;
    }

    .gal img {
        width: 70%;
        height: auto;
        margin-bottom: 3rem;
    }

    #enjoy {
        background-image: url(img/enjoy-m.png);
        /* background-size: inherit; */
        /* padding-top: 15rem; */
        /* padding-bottom: 25rem; */
        color: ivory;
        margin-bottom: -22.5rem;
    }


    .enj {
        text-align: center;
        width: 60%;
        padding-left: 2%;
        padding-right: 2%;
        border: 2px solid rgb(207, 133, 22);
        padding-top: 10%;
        /* padding-bottom: ; */
        margin-top: -10rem;
        margin-left: 40%;
        margin-right: 4%;
    }

    .enj p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 12px;
    }

    .item {
        width: 80%;
    }

    #best {
        background-image: url(img/enjoy-2-m.png);
        margin-bottom: -18.5rem;
    }

    #best p {
        margin-left: 40%;
        /* padding-left: 60%; */
        width: 50%;
        font-size: medium;
    }

    #best h2 {
        margin-left: 40%;
        margin-top: -8rem;
    }
    .links-2 {
        padding-bottom: 2rem;
    }
}
